.find {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  
  &__item {
    margin: 10px;
    width: 100%;
    margin-top: 10px;
    display: block;

  }
  
  &__img {
    
  }
  
}