.find {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  
  &__item {
    margin: 10px;
    width: 100%;
    margin-top: 10px;
    display: block;
    /*width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 2px 1px 8px 1px #bbb; */
  }
  
  &__img {
    
  }
  
}