$slide-height: 500px;

.slider {
  height: calc(100vh - 170px);
  width: 85%;
  margin: auto;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: center;
  position: relative;


  
  &__slide, .slider__img {
    max-width: 100%;
    height: 100%;
    position: relative;
    vertical-align: middle;
    animation: animateleft 0.4s;
    @keyframes animateleft{ from{left:-500px;opacity:0} to{left:0;opacity:1}}
    @keyframes animateright{ from{right:-1000px;opacity:0} to{right:0;opacity:1}}
    display: inline-block;
    border-radius: 5px;
    
  }
  
  &__viewport {
    margin: auto;
    height: calc(100vh - 170px);
    text-align: center;
    display: inline-block;
    overflow: hidden;
    max-height: 80%;
  }
  
  &__controls {
    max-width: 628px;
    margin: auto;
  }
  
  &__goto {
    color: gray;
    font-size: 30px;
    cursor: pointer;
  }
  &__goto:hover {
    transform: scale(1.2);
  }
  
  &__goto_left {
    float: left;
    margin-left: 10px;
  }
  
  &__goto_right {
    float: right;
    margin-right: 10px;
  }
  
  &__badge {
    padding: 7px;
    border-radius: 50%;
    border: 2px solid grey;
    display: inline-block;
    cursor: pointer;
    margin: 10px 3px;
    
    &_small {
      padding: 2px;
      margin: 10px 2px;
    }
  }
  
  &__badge:hover {
    background-color: wheat;
  }
  &__badge_active {
    background-color: gray;
  }
  
}

@media only screen and (max-width: $breakpoint) {
  .slider {
  
    &__viewport {
      height: 300px;
      line-height: 300px;
    }
  }  
}

@media only screen and (max-width: 620px) {
  .slider {
  
    &__viewport {
      height: 200px;
      line-height: 200px;
    }
    
    &__slide {
      max-width: 1000%;
    }
  }  
}