.control {
    text-align: center;
  
  &_top {
    
  }
  
  &__controls {
    list-style: none;
  }
  
  &__item {
    padding: 5px;
    display: inline-block;
  }
}


// ------------- Checkbox -------------------
.checkbox {
  position: absolute;
  left: -150px;
  
  &__label {
    position: relative;
  }
  
  &__label_order {
    margin: 0px 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-135deg);
  }
}

//-------------- Checkbox order --------------------- 
#order:checked ~ label[for="order"] {
  transform: rotate(45deg);
}

// -------------- Search ---------------------------
.search {
  width: 250px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-image: url(../blocks/staff/img/search-icon.png);
  background-position: 4px 6px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  background-size: 33px;
}

// ---------------- Select ------------------
.select {
  font-size: 16px;
  
  option {
    font-size: 16px;
    padding: 5px 10px;
  }
}

// --------------- BTN -------------------------
.btn {
  font-size: 16px;
  padding: 5px 10px;
  
  &_large {
    width: 80%;
    display: block;
    margin: auto;
    max-width: 200px;
  }
}



// --------------- PAGINATION ---------------------
.pag {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  
  &__page {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: whitesmoke;
    
    &_current {
//      background-color: $nav-background;
      color: white;
      border: 1px solid whitesmoke;
      font-weight: bold;
      background-color: black;
    }
    
    &:disabled {
      cursor: default;
    }
    
    &:disabled:not(&_current):not(&_gotoPage)  {
      opacity: 0.5;
    }
    
    &:hover:not(:disabled) {
      background-color: #ddd;
    }
    
    &_out:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    
    &_out:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.info {
  padding: 10px;
  
  &info__tag {
    
  }
  
  &__hash {
    display: inline-block;
    font-size: 21px;
    margin-right: 25px;
  }
  
  &__tag-info {
    font-style: italic;
    display: inline-block;
  }
  
  &__user {

  }
  
  &__user-avatar {
    display: inline-block;
    margin: 0 30px;
    float: left;
  }
  
  &__user-img {
    border-radius: 50%;
  }
  
  &__user-info {
    display: inline-block;
    margin-left: 6%;
  }
  
  &__user-item {
    margin: 10px auto;
  }
  
  &__user-name {
    
  }
  
  &__name {
    
  }
  
  &__photos {
    font-style: italic;
  }
}



#bigMediaContainer {
  display: none;
  position: absolute;
  top: 85px;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.8);
  


}

.bigMedia {
  height: calc(100vh - 170px);
  width: 85%;
  margin: auto;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  
  &__item {
    text-align: center;
    height: 100%;
  }
  
  &__image {
    max-height: 90%;
    max-width: 80%;
    border-radius: 5px;
  }
  
  &__figcaption {
    line-height: 50px;
    height: 10%;
  }
  
  &__control {
    margin: 0 30px;
  }
}

.like {
  font-size: 24px;
  vertical-align: middle;
  line-height: 50px;
  position: relative;
  cursor: pointer;
  
  &:not(.like_small):hover::before {
    transform: scale(1.1);
  }
  
  &::before {
    font-size: 45px;
    content:'♥';
    color: crimson;
    position: absolute;
    left: -45px;
    top: -9px;
    text-shadow: 0 0 2px black;
  }
  
  &_active::before {
    color: darkgray;
  }
  
  &_small {
    color: white;
    font-size: 20px;
    cursor: default;
    font-weight: bold;
    
    &:hover {
      transform: scale(1);
    }
    
    &::before {
      font-size: 30px;
      color: white;
      left: -30px;
      top: -12px;
    }
  }
}

.instagram {
  height: 50px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  
  &:hover {
    transform: scale(1.1);
  }
  
  &__img {
    height: 100%;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  color: gray;
  font-weight: bold;
  cursor: pointer;
  
  &:hover {
    transform: scale(1.1);
  }
}

.carousel-icon {
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 6px;
  background-color: black;
}

.ui-autocomplete {
  max-height: 250px;
  overflow: scroll;
}

// ------------------------------------- LOGIN ---------------------
.dialog-window {
  display: none;
  position: absolute;
  top: 100px;
  width: 100%;
  
  &__success {
    text-align: center;
    font-style: italic;
  }
  
  &__content {
    display: block;
    min-width: 300px;
    width: 30%;
    margin: auto;
    padding: 50px 20px;
    background-color: rgba(177, 187, 189, 0.9);
    border-radius: 20px;
    position: relative;
    
    &_large {
      width: 60%;
      max-width: 600px;
    }
  }
}
// --------------------------------------- LOGIN END ------------------------
// --------------------------------------- FORM -----------------------------
.form {
  
  &__input {
    display: block;
    box-sizing: border-box;
    width: 80%;
    padding: 12px 10px;
    margin: 20px auto;
    border-radius: 8px;
    border: 2px solid grey;
    background-color: rgb(249, 245, 243);
    max-width: 300px;
    
    &_textarea {
      max-width: 800px;
    }
    
    &_file {
      padding: 0;
      border-radius: 0;
      border: none;
      background-color: transparent;
      max-width: 800px;
      
    } 
  }
  
  &__instruction {
    max-width: 800px;
    width: 80%;
    margin: 10px auto;
  }
  
  &__input::placeholder {
    font-family:  sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #888;
    opacity: 1;
  }
  
  &__head {
    font-style: italic;
    font-weight: normal;
    text-align: center;
    font-size: 17px;
    font-family: cursive;
  }
  
  &__wrong {
    color: red;
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
    display: none;
  }
}

#login__username ~ #login__password ~ input[type="submit"] {
  visibility: hidden;
}

#login__username:valid ~ #login__password:valid ~ input[type="submit"] {
  visibility: visible;
}


.content {
  padding-left: 20px;
  padding-right:  20px; 
  height: calc(100vh - 85px);
  overflow: scroll;
}


// --------------------------------------- FORM END -------------------------


@media only screen and (max-width: $breakpoint) {
  .pag {
    
    &__page {
      padding: 12px 32px;
      
      &_gotoPage {
        display: none;
      }
    }
  }
}