* {
  padding: 0;
  margin: 0;
}

@import "../../blocks/nav/nav.scss";
@import "../../blocks/slider/slider.scss";
@import "../../blocks/header/header.scss";
@import "../../blocks/contacts/contacts.scss";
@import "../../blocks/all-photo/all-photo.scss";
@import "../../blocks/content/content.scss";
@import "../../blocks/staff/staff.scss";
@import "../../blocks/find/find.scss";
@import "../../blocks/mozaik/mozaik.scss";



/*---CLEARFIX---*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}