@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

.nav {
  height: 70px;
  background: #262626; }
  .nav__container {
    max-width: 1000px;
    margin: 0 auto; }
  .nav__brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em; }
  .nav__brand-link, .nav__brand-link:visited {
    color: #ffffff;
    text-decoration: none; }
  .nav__body {
    float: right; }
  .nav__list {
    list-style: none; }
  .nav__list-li {
    float: left;
    position: relative; }
  .nav__list-li:not(:first-child) {
    border-left: 1px dotted white; }
  .nav__link {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #262626;
    color: #ffffff;
    text-decoration: none; }
    .nav__link:hover, .nav__link_current {
      background: #2581DC;
      color: #ffffff; }
    .nav__link:not(:only-child):after {
      padding-left: 4px;
      content: ' ▾'; }
    .nav__link_login {
      cursor: pointer;
      display: block;
      height: 100%;
      padding: 0 10px;
      line-height: 70px; }
      .nav__link_login:hover {
        background: #262626;
        color: #ffffff; }
  .nav__dropdown {
    position: absolute;
    z-index: 10;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    display: none; }
  .nav__list-dropdown {
    min-width: 190px; }
  .nav__link_dropdown {
    padding: 15px;
    line-height: 20px; }
  .nav__mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px; }
  .nav__profile-photo {
    height: 60px;
    border-radius: 2px;
    vertical-align: middle; }

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -10px; }
  #nav-toggle span:after {
    bottom: -10px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }

@media only screen and (max-width: 768px) {
  .nav__body {
    width: 100%;
    padding: 70px 0 15px; }
  .nav__list {
    display: none; }
  .nav__list-li {
    float: none; }
  .nav__link {
    padding: 15px;
    line-height: 20px; }
  .nav__link_dropdown {
    padding-left: 30px; }
  .nav__mobile {
    display: block; }
  .nav__dropdown {
    position: static; } }
@media screen and (min-width: 768px) {
  .nav__list:not(.nav__list_dropdown) {
    display: block !important; } }
.slider {
  height: calc(100vh - 170px);
  width: 85%;
  margin: auto;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: center;
  position: relative; }
  .slider__slide, .slider .slider__img {
    max-width: 100%;
    height: 100%;
    position: relative;
    vertical-align: middle;
    animation: animateleft 0.4s;
    display: inline-block;
    border-radius: 5px; }
@keyframes animateleft {
  from {
    left: -500px;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }
@keyframes animateright {
  from {
    right: -1000px;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }
  .slider__viewport {
    margin: auto;
    height: calc(100vh - 170px);
    text-align: center;
    display: inline-block;
    overflow: hidden;
    max-height: 80%; }
  .slider__controls {
    max-width: 628px;
    margin: auto; }
  .slider__goto {
    color: gray;
    font-size: 30px;
    cursor: pointer; }
  .slider__goto:hover {
    transform: scale(1.2); }
  .slider__goto_left {
    float: left;
    margin-left: 10px; }
  .slider__goto_right {
    float: right;
    margin-right: 10px; }
  .slider__badge {
    padding: 7px;
    border-radius: 50%;
    border: 2px solid grey;
    display: inline-block;
    cursor: pointer;
    margin: 10px 3px; }
  .slider__badge:hover {
    background-color: wheat; }
  .slider__badge_active {
    background-color: gray; }

@media only screen and (max-width: 768px) {
  .slider__viewport {
    height: 300px;
    line-height: 300px; } }
@media only screen and (max-width: 620px) {
  .slider__viewport {
    height: 200px;
    line-height: 200px; }
  .slider__slide {
    max-width: 1000%; } }
.contacts {
  position: absolute;
  padding: 10px 30px;
  z-index: -10;
  width: 100%;
  box-sizing: border-box; }
  .contacts__head {
    font-size: 25px;
    text-align-last: center;
    padding: 15px 30px; }
  .contacts__container {
    padding: 10px 15px; }
  .contacts__map {
    height: 350px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 4px 2px 17px 1px #bbb; }
  .contacts__info {
    line-height: 150%;
    margin-top: 15px;
    display: inline-block;
    margin-left: 20%; }
  .contacts__address {
    padding: 10px 20px; }

@media only screen and (max-width: 768px) {
  .contacts__info {
    margin-left: 0; } }
.all-photo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative; }
  .all-photo__item {
    display: inline-block;
    margin: 10px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 2px 1px 8px 1px #bbb;
    text-align: center;
    position: relative; }
    .all-photo__item:hover .all-photo__mask {
      top: 0; }
  .all-photo__img {
    height: 100%;
    margin: auto;
    position: absolute;
    left: -9999px;
    right: -9999px; }
  .all-photo__mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -400px;
    left: 0;
    line-height: 300px;
    text-align: center;
    padding-left: 40px;
    box-sizing: border-box;
    background-color: rgba(10, 10, 10, 0.7); }

@media screen and (max-width: 1000px) {
  .all-photo {
    justify-content: space-around; } }
.control {
  text-align: center; }
  .control__controls {
    list-style: none; }
  .control__item {
    padding: 5px;
    display: inline-block; }

.checkbox {
  position: absolute;
  left: -150px; }
  .checkbox__label {
    position: relative; }
  .checkbox__label_order {
    margin: 0px 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-135deg); }

#order:checked ~ label[for="order"] {
  transform: rotate(45deg); }

.search {
  width: 250px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-image: url(../blocks/staff/img/search-icon.png);
  background-position: 4px 6px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  background-size: 33px; }

.select {
  font-size: 16px; }
  .select option {
    font-size: 16px;
    padding: 5px 10px; }

.btn {
  font-size: 16px;
  padding: 5px 10px; }
  .btn_large {
    width: 80%;
    display: block;
    margin: auto;
    max-width: 200px; }

.pag {
  display: flex;
  justify-content: center;
  padding-bottom: 50px; }
  .pag__page {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: whitesmoke; }
    .pag__page_current {
      color: white;
      border: 1px solid whitesmoke;
      font-weight: bold;
      background-color: black; }
    .pag__page:disabled {
      cursor: default; }
    .pag__page:disabled:not(.pag__page_current):not(.pag__page_gotoPage) {
      opacity: 0.5; }
    .pag__page:hover:not(:disabled) {
      background-color: #ddd; }
    .pag__page_out:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .pag__page_out:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }

.info {
  padding: 10px; }
  .info__hash {
    display: inline-block;
    font-size: 21px;
    margin-right: 25px; }
  .info__tag-info {
    font-style: italic;
    display: inline-block; }
  .info__user-avatar {
    display: inline-block;
    margin: 0 30px;
    float: left; }
  .info__user-img {
    border-radius: 50%; }
  .info__user-info {
    display: inline-block;
    margin-left: 6%; }
  .info__user-item {
    margin: 10px auto; }
  .info__photos {
    font-style: italic; }

#bigMediaContainer {
  display: none;
  position: absolute;
  top: 85px;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.8); }

.bigMedia {
  height: calc(100vh - 170px);
  width: 85%;
  margin: auto;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: center;
  position: relative; }
  .bigMedia__item {
    text-align: center;
    height: 100%; }
  .bigMedia__image {
    max-height: 90%;
    max-width: 80%;
    border-radius: 5px; }
  .bigMedia__figcaption {
    line-height: 50px;
    height: 10%; }
  .bigMedia__control {
    margin: 0 30px; }

.like {
  font-size: 24px;
  vertical-align: middle;
  line-height: 50px;
  position: relative;
  cursor: pointer; }
  .like:not(.like_small):hover::before {
    transform: scale(1.1); }
  .like::before {
    font-size: 45px;
    content: '♥';
    color: crimson;
    position: absolute;
    left: -45px;
    top: -9px;
    text-shadow: 0 0 2px black; }
  .like_active::before {
    color: darkgray; }
  .like_small {
    color: white;
    font-size: 20px;
    cursor: default;
    font-weight: bold; }
    .like_small:hover {
      transform: scale(1); }
    .like_small::before {
      font-size: 30px;
      color: white;
      left: -30px;
      top: -12px; }

.instagram {
  height: 50px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  line-height: 50px; }
  .instagram:hover {
    transform: scale(1.1); }
  .instagram__img {
    height: 100%; }

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  color: gray;
  font-weight: bold;
  cursor: pointer; }
  .close:hover {
    transform: scale(1.1); }

.carousel-icon {
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 6px;
  background-color: black; }

.ui-autocomplete {
  max-height: 250px;
  overflow: scroll; }

.dialog-window {
  display: none;
  position: absolute;
  top: 100px;
  width: 100%; }
  .dialog-window__success {
    text-align: center;
    font-style: italic; }
  .dialog-window__content {
    display: block;
    min-width: 300px;
    width: 30%;
    margin: auto;
    padding: 50px 20px;
    background-color: rgba(177, 187, 189, 0.9);
    border-radius: 20px;
    position: relative; }
    .dialog-window__content_large {
      width: 60%;
      max-width: 600px; }

.form__input {
  display: block;
  box-sizing: border-box;
  width: 80%;
  padding: 12px 10px;
  margin: 20px auto;
  border-radius: 8px;
  border: 2px solid grey;
  background-color: #f9f5f3;
  max-width: 300px; }
  .form__input_textarea {
    max-width: 800px; }
  .form__input_file {
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: transparent;
    max-width: 800px; }
.form__instruction {
  max-width: 800px;
  width: 80%;
  margin: 10px auto; }
.form__input::placeholder {
  font-family: sans-serif;
  font-style: italic;
  font-size: 13px;
  color: #888;
  opacity: 1; }
.form__head {
  font-style: italic;
  font-weight: normal;
  text-align: center;
  font-size: 17px;
  font-family: cursive; }
.form__wrong {
  color: red;
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
  display: none; }

#login__username ~ #login__password ~ input[type="submit"] {
  visibility: hidden; }

#login__username:valid ~ #login__password:valid ~ input[type="submit"] {
  visibility: visible; }

.content {
  padding-left: 20px;
  padding-right: 20px;
  height: calc(100vh - 85px);
  overflow: scroll; }

@media only screen and (max-width: 768px) {
  .pag__page {
    padding: 12px 32px; }
    .pag__page_gotoPage {
      display: none; } }
.find {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .find__item {
    margin: 10px;
    width: 100%;
    margin-top: 10px;
    display: block;
    /*width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 2px 1px 8px 1px #bbb; */ }

.mozaik__wrapper {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ccc; }
.mozaik__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 500px; }
.mozaik__item {
  margin: 5px; }
.mozaik__one {
  overflow: hidden;
  height: 100px;
  width: 100px;
  margin: 2px;
  position: relative; }
.mozaik__image {
  height: 100%;
  margin: auto;
  position: absolute;
  left: -9999px;
  right: -9999px; }
.mozaik__head {
  text-align: center; }

/*---CLEARFIX---*/
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

/*# sourceMappingURL=style.css.map */
